[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
psycopg2-binary = "==2.9.9"

[dev-packages]
pytest = "==8.2.2"
ruff = "==0.5.0"

[scripts]
pyrene = "python3 src/main.py"
test = "pytest"
